# SPDX-FileCopyrightText:  PyPSA-Earth and PyPSA-Eur Authors
#
# SPDX-License-Identifier: CC0-1.0

# European configuration with 140 nodes, single day test
# This configuration is for testing and development purposes
# Based on config.default.yaml with European-specific settings

version: 0.8.0
tutorial: false

logging:
  level: INFO
  format: "%(levelname)s:%(name)s:%(message)s"

results_dir: results/
summary_dir: results/

foresight: overnight

# European countries - covers EU27 + UK, Norway, Switzerland, and Balkans
# Major countries get more nodes, smaller countries get 1 node
countries:
  - DE  # Germany - large economy
  - FR  # France - large economy
  - GB  # Great Britain - large economy
  - IT  # Italy - large economy
  - ES  # Spain - large economy
  - PL  # Poland - large economy
  - NL  # Netherlands
  - BE  # Belgium
  - CZ  # Czech Republic
  - RO  # Romania
  - SE  # Sweden
  - PT  # Portugal
  - GR  # Greece
  - HU  # Hungary
  - AT  # Austria
  - BG  # Bulgaria
  - DK  # Denmark - smaller but important for North Sea wind
  - FI  # Finland
  - SK  # Slovakia
  - IE  # Ireland
  - HR  # Croatia
  - LT  # Lithuania
  - SI  # Slovenia
  - LV  # Latvia
  - EE  # Estonia
  - CY  # Cyprus
  - LU  # Luxembourg
  - MT  # Malta
  - "NO"  # Norway - important for hydro
  - CH  # Switzerland - important for hydro and storage
  - RS  # Serbia
  - BA  # Bosnia and Herzegovina
  - AL  # Albania
  - MK  # North Macedonia
  - ME  # Montenegro

enable:
  retrieve_databundle: true
  retrieve_databundle_sector: false  # Not needed for electricity-only model
  retrieve_cost_data: true
  download_osm_data: true  # Required to generate OSM raw inputs
  download_global_buildings: false
  build_natura_raster: false  # Use pregenerated
  build_cutout: false  # Use existing cutout
  progress_bar: true
  custom_busmap: false

custom_rules: []

run:
  name: "europe-day-140"
  sector_name: ""
  shared_cutouts: true
  allow_scenario_failure: false

scenario:
  simpl: [""]
  ll: ["copt"]
  clusters: [140]  # 140 nodes for all of Europe
  opts: [Co2L-3h]  # 3-hour temporal resolution
  planning_horizons:
  - 2030
  sopts:
  - "24h"  # Single day for testing
  demand:
  - "AB"

# Single day for initial testing
snapshots:
  start: "2013-07-15"  # Mid-summer day with high solar
  end: "2013-07-16"
  inclusive: "left"

crs:
  geo_crs: EPSG:4326
  distance_crs: EPSG:3857
  area_crs: ESRI:54009

cluster_options:
  simplify_network:
    to_substations: false
    algorithm: kmeans
    feature: solar+onwind-time
    exclude_carriers: []
    remove_stubs: true
    remove_stubs_across_borders: true
    p_threshold_drop_isolated: 20
    p_threshold_merge_isolated: 300
    s_threshold_fetch_isolated: false
  cluster_network:
    algorithm: kmeans
    feature: solar+onwind-time
    exclude_carriers: []
  alternative_clustering: false
  # Distribute nodes by load to assign more nodes to larger countries
  distribute_cluster: ["load"]
  out_logging: true
  aggregation_strategies:
    generators:
      p_nom: sum
      p_nom_max: sum
      p_nom_min: sum
      p_min_pu: mean
      p_max_pu: weighted_average
      marginal_cost: mean
      committable: any
      ramp_limit_up: max
      ramp_limit_down: max
      efficiency: mean
  focus_weights: false

build_shape_options:
  gadm_layer_id: 1
  simplify_tolerance: 0.01
  simplify_gadm: true
  minarea: 0.01
  update_file: false
  out_logging: true
  year: 2020
  nprocesses: 3
  worldpop_method: "standard"
  gdp_method: "standard"
  contended_flag: "set_by_country"

subregion:
  enable:
    simplify_network: true
    cluster_network: false
  define_by_gadm: false
  path_custom_shapes: false
  tolerance: 100

clean_osm_data_options:
  names_by_shapes: true
  threshold_voltage: 51000
  tag_substation: "transmission"
  add_line_endings: true
  generator_name_method: OSM
  use_custom_lines: "OSM_only"
  path_custom_lines: false
  use_custom_substations: "OSM_only"
  path_custom_substations: false
  use_custom_cables: "OSM_only"
  path_custom_cables: false

build_osm_network:
  group_close_buses: true
  group_tolerance_buses: 5000
  split_overpassing_lines: true
  overpassing_lines_tolerance: 1
  force_ac: false

base_network:
  min_voltage_substation_offshore: 51000
  min_voltage_rebase_voltage: 51000

load_options:
  ssp: "ssp2-2.6"
  weather_year: 2013
  prediction_year: 2030
  scale: 1

co2_budget:
  enable: false
  override_co2opt: true
  co2base_value: co2limit
  year:
    2020: 1.0
    2025: 0.85
    2030: 0.70

electricity:
  base_voltage: 380.
  voltages: [132., 220., 300., 380., 500., 750.]
  co2limit: 7.75e+7  # European default
  co2base: 1.487e+9  # European default
  agg_p_nom_limits:
    file: data/agg_p_nom_minmax.csv
    include_existing: false
  hvdc_as_lines: false
  automatic_emission: false
  automatic_emission_base_year: 1990

  operational_reserve:
    activate: false
    epsilon_load: 0.02
    epsilon_vres: 0.02
    contingency: 0

  max_hours:
    battery: 6
    H2: 168

  extendable_carriers:
    Generator: [solar, onwind, offwind-ac, offwind-dc, OCGT]
    StorageUnit: []
    Store: [battery, H2]
    Link: []

  powerplants_filter: (DateOut >= 2022 or DateOut != DateOut) and (DateIn <= 2023 or DateIn != DateIn)
  custom_powerplants: false

  conventional_carriers: [nuclear, oil, OCGT, CCGT, coal, lignite, geothermal, biomass]
  renewable_carriers: [solar, onwind, offwind-ac, offwind-dc, hydro]

  estimate_renewable_capacities:
    stats: "irena"
    year: 2023
    p_nom_min: 1
    p_nom_max: false
    technology_mapping:
      Offshore: [offwind-ac, offwind-dc]
      Onshore: [onwind]
      PV: [solar]

lines:
  ac_types:
    132.: "243-AL1/39-ST1A 20.0"
    220.: "Al/St 240/40 2-bundle 220.0"
    300.: "Al/St 240/40 3-bundle 300.0"
    380.: "Al/St 240/40 4-bundle 380.0"
    500.: "Al/St 240/40 4-bundle 380.0"
    750.: "Al/St 560/50 4-bundle 750.0"
  dc_types:
    500.: "HVDC XLPE 1000"
  s_max_pu: 0.7
  s_nom_max: .inf
  s_nom_max_min: -.inf
  length_factor: 1.25
  under_construction: "zero"

links:
  p_max_pu: 1.0
  p_nom_max: .inf
  p_nom_max_min: -.inf
  under_construction: "zero"

transformers:
  x: 0.1
  s_nom: 2000.
  type: ""

atlite:
  nprocesses: 4
  cutouts:
    cutout-2013-era5:
      module: era5
      dx: 0.3
      dy: 0.3

renewable:
  onwind:
    cutout: cutout-2013-era5
    resource:
      method: wind
      turbine: Vestas_V112_3MW
    capacity_per_sqkm: 3
    copernicus:
      grid_codes: [20, 30, 40, 60, 100, 111, 112, 113, 114, 115, 116, 121, 122, 123, 124, 125, 126]
      distance: 1000
      distance_grid_codes: [50]
    natura: true
    potential: simple
    clip_p_max_pu: 1.e-2
    extendable: true
  
  offwind-ac:
    cutout: cutout-2013-era5
    resource:
      method: wind
      turbine: NREL_ReferenceTurbine_2020ATB_5.5MW
    capacity_per_sqkm: 3
    copernicus:
      grid_codes: [80, 200]
    natura: true
    max_depth: 50
    max_shore_distance: 30000
    potential: simple
    clip_p_max_pu: 1.e-2
    extendable: true
  
  offwind-dc:
    cutout: cutout-2013-era5
    resource:
      method: wind
      turbine: NREL_ReferenceTurbine_2020ATB_5.5MW
    capacity_per_sqkm: 3
    copernicus:
      grid_codes: [80, 200]
    natura: true
    max_depth: 50
    min_shore_distance: 30000
    potential: simple
    clip_p_max_pu: 1.e-2
    extendable: true
  
  solar:
    cutout: cutout-2013-era5
    resource:
      method: pv
      panel: CSi
      orientation:
        slope: 35.
        azimuth: 180.
    capacity_per_sqkm: 1.7
    copernicus:
      grid_codes: [20, 30, 40, 60, 100, 111, 112, 113, 114, 115, 116, 121, 122, 123, 124, 125, 126]
      distance: 1000
      distance_grid_codes: [50]
    natura: true
    potential: simple
    clip_p_max_pu: 1.e-2
    extendable: true
  
  hydro:
    cutout: cutout-2013-era5
    carriers: [ror, PHS, hydro]
    PHS_max_hours: 6
    hydro_max_hours: "energy_capacity_totals_by_country"
    flatten_dispatch: false
    flatten_dispatch_buffer: 0.2
    clip_min_inflow: 1.0

costs:
  year: 2030
  version: v0.8.0
  rooftop_share: 0.0
  fill_values:
    FOM: 0
    VOM: 0
    efficiency: 1
    fuel: 0
    investment: 0
    lifetime: 25
    "CO2 intensity": 0
    "discount rate": 0.07
  marginal_cost:
    solar: 0.01
    onwind: 0.015
    offwind: 0.015
    hydro: 0.
    H2: 0.
    battery: 0.
  emission_prices:
    co2: 0.

solving:
  options:
    formulation: kirchhoff
    load_shedding: 100
    noisy_costs: true
    min_iterations: 4
    max_iterations: 6
    clip_p_max_pu: 0.01
    skip_iterations: true
    track_iterations: false

  solver:
    name: gurobi
    options: gurobi-default

  solver_options:
    highs-default:
      threads: 4
      solver: "ipm"
      run_crossover: "on"
      small_matrix_value: 1e-6
      large_matrix_value: 1e15
      primal_feasibility_tolerance: 1e-6
      dual_feasibility_tolerance: 1e-6
      ipm_optimality_tolerance: 1e-6
      parallel: "on"
      random_seed: 123
    gurobi-default:
      threads: 4
      method: 2  # barrier
      crossover: 0
      BarConvTol: 1.e-6
      Seed: 123
      AggFill: 0
      PreDual: 0
      GURO_PAR_BARDENSETHRESH: 200
    gurobi-numeric-focus:
      NumericFocus: 3
      method: 2
      crossover: 0
      BarHomogeneous: 1
      BarConvTol: 1.e-5
      FeasibilityTol: 1.e-4
      OptimalityTol: 1.e-4
      ObjScale: -0.5
      threads: 8
      Seed: 123
    gurobi-fallback:
      crossover: 0
      method: 2
      BarHomogeneous: 1
      BarConvTol: 1.e-5
      FeasibilityTol: 1.e-5
      OptimalityTol: 1.e-5
      Seed: 123
      threads: 8
    cplex-default:
      threads: 4
      lpmethod: 4
      solutiontype: 2
      barrier.convergetol: 1.e-5
      feasopt.tolerance: 1.e-6
    copt-default:
      Threads: 8
      LpMethod: 2
      Crossover: 0
    cbc-default: {}
    glpk-default: {}

  mem: 30000

plotting:
  map:
    boundaries:
    color_geomap:
      ocean: white
      land: white
  eu_node_location:
    x: -5.5
    y: 46.
  costs_max: 1000
  costs_threshold: 0.0000001
  energy_max:
  energy_min:
  energy_threshold: 0.000001
